<header>
   <div class="logo">
       <a routerLink="">King of avalon</a>
    </div> 
    <h3 *ngIf="loggedInUser">Hello {{loggedInUser.username}}</h3>
   <section *ngIf="loggedInUser">
    <app-resource-list [resources]="resources$|async" [userResourcesAmount]="userResourcesAmount" >
    </app-resource-list>
   </section>
   <nav>
       <a href="#">Home</a>
       <a routerLink="user" *ngIf="!loggedInUser;else displaySignOut">Register | Login</a>
       <ng-template #displaySignOut>
           <a class="link" (click)="onSignOut()">Sign out</a>
           <a class="link" routerLink="admin">Admin</a>
       </ng-template>
   </nav>
</header>