@import "colors";
header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  .logo {
    text-transform: uppercase;
  }
  nav {
    width: 300px;
    display: flex;
    justify-content: space-around;
    .link {
      cursor: pointer;
    }
  }
}
