@import './colors';
.text-center {
  text-align: center;
}

.flex {
  display: flex;
}
.flex-column{
    flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}


.title{
  font-size: 2rem;
  font-weight:bold;
  margin: 10px;
  text-decoration: underline;
  text-align: center;
}

.btn{
  border: 2px solid $clr2;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  opacity: 0.8;
  font-size: 1.1rem;
  font-weight: bold;
  color:#292929;
  transition: opacity 0.8s;
  &:hover{
    opacity: 1;
    color:darken($clr1,25%)
  }
}