<section class="register-login">
 <section class="register-section" *ngIf="isRegisterSectionVisible;else displayLoginSection">
    <h2 class="title">Register Section</h2>
    <form #form="ngForm" (ngSubmit)="onRegisterUser()" >
       <label>
        Username:
        <input type="text" name="username" [(ngModel)]="user.username" />
       </label>
       <label>
        Password:
        <input type="password" name="password"/>
       </label>
       <button class="btn">Register</button>
    </form>
    <h4 class="link" (click)="onChangeSectionTab()" >Already have a user? Sign in instead!</h4>
 </section>

<ng-template #displayLoginSection>
    <section class="sign-in-section">
        <h2 class="title">Sign in Section</h2>
        <form #signInForm="ngForm"  (ngSubmit)="onSignInUser(signInForm)"  > 
           <select name="usersSelect" ngModel >
               <option *ngFor="let user of users$|async" [value]="user.username">
                   {{user.username}}
               </option>
           </select>
           <button class="btn">Sign In</button>
        </form>
        <h4 class="link" (click)="onChangeSectionTab()" >New user? Register instead!</h4>
     </section>
</ng-template>

</section>