@import 'helpers';

.register-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        select,input{
            border-radius: 5px;
            padding: 5px;
            margin-bottom: 5px;
         
        }
    }
    .link{
        text-decoration: underline;
        margin: 10px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: color 0.4s;
        &:hover{
            color:lighten(rgb(97, 97, 170),15%);
        }
    }
}