@import 'helpers';

.resource-details{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    >*{
        flex-basis: 100%;
    }
    .title{
        text-decoration: underline;
    }
    .btn{
        flex-basis: auto;
    }
}